/* Reset some default styles and set common styles */
body {
    width: 90%;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #a55eea;
}
/* Define the container style */
.main_container {
    width: 90%;
    background-color: #D6A2E8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto; /* Center the container horizontally */
}
/* Define the container style */
.container {
    width: 90%;
    background-color: #CAD3C8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto; /* Center the container horizontally */
}

/* Style for profile image */
.profile-image {
    max-width: 150px;
    margin-right: 20px;
    border: 2px solid    color:#6D214F;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Header style */
h1 {
    color: #6D214F;
    font-size: 2.5em; /* Adjust the font size as needed */
}
/* Header style */
h2 {
    color: #6D214F;
    font-size: 2em; /* Adjust the font size as needed */
}
/* Navigation and footer styles */
nav ul, footer ul {
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 0;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
       padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    color: #F8EFBA;
    display: inline;
    font-size: 1.5em;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #6D214F;
}

a:hover {
    text-decoration: underline;
}

/* General paragraph styles */
p, li, ul {
    font-size: 1.2em; /* Adjust the font size as needed */
    line-height: 1.4em;
    color:#6D214F;
}

/* Footer style */
footer {
    border-top: 1px solid #F8EFBA;
    font-size: 0.8em;
}

/* List of posts style */
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.2em; /* Adjust the font size as needed */
}

ul.posts li {
    list-style: none;
        color:#6D214F;
}
