/* Reset some default styles and set common styles */
body {
    width: 90%;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #a55eea;
}

/* Define the container style */
.container {
    width: 90%;
    background-color: #d1d8e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto; /* Center the container horizontally */
}

/* Style for profile image */
.profile-image {
    max-width: 150px;
    margin-right: 20px;
    border: 2px solid #8854d0;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Header style */
h1 {
    color: #h00b51;
    font-size: 2.5em; /* Adjust the font size as needed */
}

/* Navigation and footer styles */
nav ul, footer ul {
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 0;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

/* General paragraph styles */
p {
    font-size: 1.2em; /* Adjust the font size as needed */
    line-height: 1.4em;
    color: #45aaf2;
}

/* Footer style */
footer {
    border-top: 1px solid #fc5c65;
    font-size: 0.8em;
}

/* List of posts style */
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.2em; /* Adjust the font size as needed */
}

ul.posts li {
    list-style: none;
}
